v*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
  }
  
  
  body{
    background-color: #ffffff;
  }
  
  
  .container{
    width: 80%;
    min-height: 100vh;
    background-color: white;
    margin: 0 auto;
    padding: 0 20px;
    overflow:  hidden;
    padding: 0 50px;
    
  }
  
  #title{
    text-align: center;
    padding: 24px;
    font-size: 30px;
    font-family: Arial;
    font-weight: 600;
   color: orangered;
  }
  
  p{
    font-family: Arial;
  }
  
  #small{
    font-family: Calibri;
    display: block;
    text-align: center;
  }
  #form-card{
    width: 100%;
    box-shadow: 0 0 10px 0  #ddd;
    border-radius: 10px;
    padding: 20px;
   margin-left: -20px;
  
  }
  
  
  #marksheet-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  #horizontal{
    display: flex;
    margin-bottom: 12px;
    gap: 10px;
  }
  
  
  #marksheet-form label{
    font-size: 18px;
    font-weight: bolder;
    font-family: Arial;
  }
  
  #form-group{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  
  }
  
  .delete-button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    background-color: deeppink;
    cursor: pointer;
  }
  
  
  #marksheet-form input, .select{
    border: none;
    border: 1px solid #807c7c;
    padding: 10px 5px;
    outline: none;
    font-family: sans-serif;
    flex-grow: 1;
  }
  
  #marksheet-form #add-subjects{
    width: fit-content;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(0, 128, 255);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: verdana;
  }
  
  
  span{
    margin: 0;
    padding: 0;
  }
  
  #school-name{
    margin: 0;
    padding: 10px 0;
  }
  
  
  
  table{
    margin-top: 20px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  th, td{
    border: 1px solid black;
    padding: 0 5px;
  }
  
  #tagname{
    color: rgb(197, 195, 195);
  }
  
  
  
  #Generate{
    width: fit-content;
    padding: 10px 15px;
    background-color: rgb(255, 0, 136);
    border: none;
    color: white;
    border-radius: 5px;
    font-family: Arial;
    margin-left: auto;
    cursor: pointer;
  }
  
  #form-card{
    margin-top: 10px;
  }
  
  table{
    font-family: Arial;
  }
  
  p{
    padding-bottom: 10px;
  }
  
  #table3 th, td{
    padding: 7px 3px ;
  }
  
  img{
    padding-top: 5px;
  }
  
  
  
  @media (max-width: 984px){
    #horizontal{
      display: flex;
      flex-direction: column;
      
    }
  }
  
  
  